
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
    font-size: 62.5%;
    padding: 2%;
    background-image: url(../img/pinte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000124;
    color: #e3e3e3;

}
.navheader{
    font-size: 1.2rem;
}
.navheader a{
    text-decoration: none;
    color: inherit;
}
.navheader ul{
    display: flex;
    gap: 2em;
    list-style: none;
    margin-left: 30%;
}
.navheader li:first-child{
    margin-left: 25%;
    color: #5fff50;
}
.navheader li:last-child{
    margin-left: 8%;
}
.navheader li button{
    padding-top: 15%;
    padding-bottom: 15%;
    border-radius: 9px;
    border-style: none;
    font-size: inherit;
    color: inherit;
    background: none;
    border: 2px solid #5fff50;

}
.green-color{
    color: #5fff50;
    font-weight: 600;
}
.mainparagraph{
    font-size: 3.4rem;
    white-space: pre-line;
}
.textpg1{
    font-size: 18px;
    padding-left: 1%;
}
/* .first_p{
    border-left: 5px solid #620063;

} */
.logoheader{
    color: #d1d2ee;
    background: #5fff50;
    width: 38px;
    height: 38px;
    border-radius: 5%;

}
.span2,
.span1{
    background-image: linear-gradient(to left, violet, indigo, blue);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }
.span2{
    background-image: linear-gradient(to left, rgb(99, 0, 170), rgb(123, 123, 212));
}
.btn{
    padding: 1% 3%;
    border-style: none;
    background-color: #5fff50;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2%;
    border-radius: 9px;
}
.logos{
    background: linear-gradient(#018501,#5fff50);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
    margin-bottom: 8%;
}
.logos img{
    height: 3.4rem;
    filter: brightness(0);
    opacity: 100%;
}
.logos p{
    font-size: 28px;
    text-align: center;
    font-weight: 900;
    font-family: 'Irish Grover', cursive;
    text-transform: uppercase;
}
.logosassets{
    display: flex;
    justify-content: space-around;
}
.logosassets p{
    font-size: 1.2rem;
    
}

table{
    width: 90%;
    margin-top: 1%;
    font-size: 1.2rem;
    border-collapse: collapse;
    margin-left: 2%;
    background: radial-gradient( #000124, #1a1a1a);
    border-radius: 11px;
    box-shadow: 0 10px 30px rgb(0, 0, 0,0.5);
    margin-bottom: 20%;
}
thead th{
    color: #808080;
    width: 25%;
}

td,
th{
    padding: 16px 24px;
    text-align: left;
    color: #d6d6d6;
    font-weight: 600;
} 
.buy-btn{
    padding: inherit;
    border-radius: 40px;
    border-style: none;
    background: none;
    color: #d6d6d6;
    font-size: 1rem;
    font-weight: 900;
    border: 2px solid #7382ff;
}
.redc{
    color: #d70000;
}
.greenc{
    color: #018501;
}

tbody tr:nth-child(even) {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.38);

}
.card{
    color: #d6d6d6;
    height: 290px;
    width: 280px;
    background-color: #000124;
    border: 2px solid #800080;
    border-radius: 11px;
    font-size: 1rem;
    padding: 2%;
}
.card img{
    width: 60%;
    height: 60%;
    margin-top: 15%;
    margin-left: 10%;
}
.card h2,
.card p{
    text-align: center;
    margin-top: 8%;
}
.card-img{
    height: 50px;
    width: 50px;
    background-color: #434343;
    margin-left: 43%;
    border-radius: 50px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.38);
}
.secondary-paragraph{
    font-size: 2rem;
    font-weight: 600;
}
.cardcomponents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

